@model Softvision.BL.Entities.ArticleBL
@using Softvision.All.Helpers.Base;
@using Softvision.BL.Entities;

@{
    var title = Model.Title;
    var subCategory = Model.SubCategory;
    var userId = Model.IdUser;
    var loggedUserId = BaseMVC.IsLoggedIn();
    var articleId = Model.Id;
    ViewBag.Title = subCategory + "| " + title;
}

<h1>@title</h1>

<div>
    <h4>@subCategory</h4>
    <hr />
    <div class="col-md-9 col-sm-12 leftPanel">
        <div class="col-md-1 col-sm-1 col-xs-3  leftPanel" id="votesPV">
        </div>
        <div class="col-md-11 col-sm-11 col-xs-9 rightPanel">
            @* The article text *@
            @Html.Raw(Model.HTMLRep)
        </div>
    </div>
    <div class="col-md-3 hidden-xs  hidden-sm rightPanel">

        <table>
            <tr>
                <td>Posted on:</td>

                <td>
                    @Html.DisplayFor(model => model.CreatedDate)
                </td>
            </tr>
            <tr>
                <td>Posted by:</td>

                <td>
                    @Html.DisplayFor(model => model.IdUser)
                </td>
            </tr>        </table>
    </div>

</div>
<div class="comments col-md-12">
    @* Inserting new comment *@
    <div class="InsertComment">
        <form action="/" method="post" name="addComment" id="addComment">
            <input type="hidden" id="idUser" name="idUser" value=@(userId != null ? userId: 2)>
            <input type="hidden" id="idArticle" name="idArticle" value=@Html.DisplayFor(model=>model.Id)>
            <input type="hidden" id="CreatedDate" name="CreatedDate" value=@DateTime.Now.TimeOfDay />
            @if (!loggedUserId)
            {
                @Html.TextBox("AnonymousName", null, new { @placeholder = "Name", @class = "form-control inlineInput" })
                @Html.TextBox("AnonymousEmail", null, new { @placeholder = "Email", @class = "form-control inlineInput" })  <br /><br />
            }
            else
            {
                <input type="hidden" id="AnonymousName" name="AnonymousName" />
                <input type="hidden" id="AnonymousEmail" name="AnonymousEmail" />  <br /><br />
            }
            @Html.TextArea("commentBodyText", htmlAttributes: new { @style = "width: 100%;", @placeholder = "Enter Comments" })<br />

            <input type="button" id="btnAddComment" name="btnAddComment" value="Add Comment " />
        </form>
    </div>
    @* All comments- ajax call *@
    <div class="allComments col-sm-12 col-xs-12" id="allArticleComments">
    </div>
</div>

<script type="text/javascript" language="javascript">
    window.onload = function () {
        updateArticleCommentsAdmin(@Model.Id)
        updateArticleVotePV(@Model.Vote, @Model.Id)
    };
</script>

