@using Softvision.BL.Entities;
@{
    ViewBag.Title = "All articles | Developers Place";

    var titleDate = "All articles ";
    if (int.Parse(ViewData["month"].ToString()) != 0)
    {
        titleDate = titleDate + " from " + System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(int.Parse(ViewData["month"].ToString()));
    }
    if (int.Parse(@ViewData["year"].ToString()) != 0)
    {
        titleDate = titleDate + " " + @ViewData["year"];
    }

}
<br />
<h1> @titleDate </h1>
<div class="mainDiv">
    @foreach (var article in (List<ArticleBL>)ViewData["articles"])
    {
        <div class="inlineDiv marginBottom">
            <div class="scoreInlineDiv">
                @Html.DisplayFor(a => article.Vote)
                <span class="glyphicon  glyphicon-ok" aria-hidden="true"></span>
            </div>
            <div class="scoreInlineDiv">
                @Html.DisplayFor(a => article.Comments.Count)
                <span class="glyphicon  glyphicon-comment" aria-hidden="true"></span>
            </div>
            <div class="titleInlineDiv">
                @{
        var aTitle = Server.HtmlEncode(article.Title).Replace(".", "-").Replace(" ", "-").Replace("?", string.Empty);
        var aId = article.Id;
                }
                @Html.ActionLink(@Html.DisplayFor(a => article.Title).ToString(), "Details", "Article",
                         new { id = aId + "/" + aTitle }, null)
            </div>
            <br />
        </div>
    }
</div>
